* {
    font-family: Roboto;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #302b30;
}

#image {
    margin-bottom: 5px;
}

#socials svg {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#socials svg:hover{
    opacity:0.5;
    transition: 0.4s;
}

#socials svg:active{
    opacity: 0.25;
    transition: 0.2s;
    text-decoration: none;
}

#socials a:active{
    text-decoration: none;
}